<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cadastro - Banco de Leite</title>

		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<header>
			<div class="caixa">
				<h1><img src="logo.png" alt="Logo do Centro Hospitalar de Sorocaba" style="margin-left: -200px;" ></h1>

				<nav>
					<ul>
						<li><a href="{{ url_for('main.index') }}">Home</a></li>
                        <li><a href="{{ url_for('main.cadastro_mae') }}">Cadastro</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<main>
			<form action="/cadastro_mae" method="POST">
				<label for="nome">Nome e sobrenome</label>
				<input type="text" id="nome" name="nome" class="input-padrao"  required>

				<label for="CPF">CPF</label>
				<input type="number" id="cpf" name="cpf" class="input-padrao" required>

				<label for="idade">idade</label>
				<input type="number" id="idade" name="idade" class="input-padrao" required>

				<label for="telefone">Telefone</label>
				<input type="number" id="telefone" name="telefone" class="input-padrao" required placeholder="(XX) XXXXX-XXXX">

				<label for="endereco">Endereço</label>
				<input type="text" id="endereo" name="endereco" class="input-padrao" required>

				<label for="tempo_lactacao">Tempo de Lactação</label>
				<input type="text" id="tempo_lactacao" name="tempo_lactacao" class="input-padrao" required>

				<label for="historico_medico">Algum histórico médico</label>
				<textarea cols="70" rows="10" id="historico_medico" name="historico_medico" class="input-padrao" required></textarea>

				<input type="submit" value="Enviar formulário" class="enviar">
			</form>

			<table>
				<tr>
					<td>Dia</td>
					<td>Horário</td>
				</tr>
				<tr>
					<td>Segunda</td>
					<td>8h ~ 20h</td>
				</tr>
				<tr>
					<td>Quarta</td>
					<td>8h ~ 20h</td>
				</tr>
				<tr>
					<td>Sexta</td>
					<td>8h ~ 20h</td>
				</tr>
			</table>
		</main>

		<footer>
			<img src="logo.png" alt="Logo do Centro Hospitalar de Sorocaba">
		</footer>
	</body>
</html>