<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Banco de Leite</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="caixa">
				<h1><img src="logo.png"></h1>

				<nav>
					<ul>
						<li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('cadastro_mae') }}">Cadastro</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<img class="banner" src="banner.jpg">

		<main>
			<section class="principal">
				<h2 class="titulo-principal">Sobre o projeto do Banco de Leite</h2>
		 
				<p>Localizada no Bairro Vila Boa Vista o <strong>Conjunto Hospitalar de Soracaba</strong> traz a distribuição de leite materno para familias nescessitadas.</p>

				<p id="missao"><em>Nossa missão é: <strong>"Proporcionar auxilio as mães e aos bebês que precisam do leite materno com a ajuda de doadoras"</strong>.</em></p>

				<p>Oferecemos profissionais experientes para a coleta do leite materno. Todas as etapas de pasteurização e conservação do leite. O processo de coleta e de armazenamento possui padrão de excelência, garantindo qualidade e satisfação.</p>
			</section>

			<section class="mapa">
				<h3 class="titulo-principal">Nosso estabelecimento</h3>
				<p>Nosso estabelecimento está localizado no bairro Vila Boa Vista.</p>

				<div class="mapa-conteudo">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.6222726997407!2d-47.46028852584635!3d-23.510111109709108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58bd3ac3f7d93%3A0xae6c9571eba62b98!2sConjunto%20Hospitalar%20de%20Sorocaba!5e0!3m2!1spt-BR!2sbr!4v1708468494173!5m2!1spt-BR!2sbr" width="560" height="315" justify-content="center" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			

				<div class="video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Pu-j-vIFfUw?si=jAHaGfVrTGDg7do-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/V7r3V_HJ8Cc?si=vHYAoLle5743qox9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</section>
		</main>
		
	</body>
</html>